<P>Bonjour {{user.firstName}}</P>
<p>

	Merci de confirmer votre adresse email cliquant sur ce lien:

	<br><br>
	<a href="{{ signedUrl }}">Confirmer mon email</a>.

	Ce lien experera dans une heure


</p>

<p>
	Merci!
</p>