<h2>Bonjour ! Merci de confirmer votre adresse email !</h2>


<p>

	Merci de confirmer votre adresse email cliquant sur ce lien:

	<br><br>
	<a href="{{ signedUrl }}">Confirm my Email</a>.
	<a href="{{ signedUrl }}">Confirmer mon email</a>.

	Ce lien experera dans

	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Merci!
</p>