{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/header.css')}}"> {% endblock %}


<header
      id="header1" class="container-fluid d-flex flex-row justify-content-between bg-secondary "
    >
      <div id="logo" >LOGO</div>
{# je dois ajouter des liens #}
      <nav class="nav">
        <a id="icon1" href="linkk" class="nav-link text-black">
            <i class="bi bi-person"></i>
        </a>
        <a id="icon1" href="linkk" class="nav-link text-black">
            <i class="bi bi-suit-heart-fill"></i>
        </a>
        <a id="icon1" href="linkk" class="nav-link text-black">
            <i class="bi bi-cart4"></i>
        </a>
        
      </nav>
    </header>

    <header  id="header2" class="container-fluid d-flex flex-row justify-content-between bg-dark ">
    <div></div>

    <nav class="nav">
      <a id = "icon2" href="?page=accueil" class="nav-link text-white">ACCUEIL</a>
      <a id = "icon2" href="?page=femme" class="nav-link text-white">FEMME</a>
      <a id = "icon2" href="./blog.html" class="nav-link text-white">HOMME</a>
      <a id = "icon2" href="./blog.html" class="nav-link text-white">ENFANT</a>
      <a id = "icon2" href="#" class="nav-link text-white">CONTACT</a>
      <a id = "icon2" href="#" class="nav-link text-white">CONNEXION</a>
    </nav>

  </header>
  