

/* **********************RESET*********************** */

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
}

/* **********************ACCUEIL*********************** */

main {
  min-height: calc(100vh - 61px - 357px);
}

#img1 {
  width: 50vw;
  height: 20vh;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

#section_1 h3 {
  text-align: center;
}

/* ********************************************* */
table img {
  max-height: 50px;
  aspect-ratio: 1/1;

  object-fit: contain;
}

.card {
  min-height: 160px;
}

.card .card-body h5 {
  min-height: 48px;
}

.card .card-img-top,
.col-4 img {
  aspect-ratio: 1/1;
  object-fit: contain;
}

.main-image {
  aspect-ratio: 1/1;
  object-fit: contain;
}

.account-item {
  background-color: #f1f2f6;
  padding: 70px;
}

.account-item a {
  text-transform: uppercase;
  font-size: 13px;
  color: #4b6584;
  font-weight: bold;
}
.account-item a:hover {
  color: #778ca3;
  text-decoration: none;
}

.order-summary {
  background-color: #f4f8ff;
  padding: 20px;
  margin-top: 22px;
}
